body {
    background-color: EAF6F6;
}

hr{
    border-color:grey;
    border-style:none;
    border-style:dotted;
    border-width: 5px;
    border-top: none;
    width:5%;
}
h1,h2,h3{
    color:maroon;
}